<div class="flex items-center w-full md:w-[95%] h-full">
    <span class="relative inline-flex overflow-hidden rounded-xl p-[1px] w-full h-full">
        <span
            class="absolute inset-[-1000%] animate-[spin_2s_linear_infinite] bg-[conic-gradient(from_90deg_at_50%_50%,#51E4B8_0%,#21554E_50%,#51E4B8_100%)]"
        >
        </span>
        <div class="inline-flex items-center justify-center w-full py-1 md:text-xl text-green-800 bg-green-100 rounded-xl cursor-pointer dark:bg-gray-800 dark:text-white/80 backdrop-blur-3xl whitespace-nowrap">
            <slot />
        </div>
    </span>
</div>