---
import ExperienceItem from "./ExperienceItem.astro"
const EXPERIENCE = [
    {
        date: "Actualmente...",
        title: "Principal Fullstack Engineer",
        company: "Technicoders",
        description:
        "Soy Fullstack Developer en Technicoders, donde me encargo del desarrollo de código y asesoro en cada etapa del proyecto. Mis responsabilidades incluyen recomendar las mejores tecnologías, diseñar la arquitectura del sistema, establecer tiempos de entrega y asegurar la calidad en el proceso de desarrollo.",
        link: "https://technicoders.com/agencia-de-diseno-web-y-marketing-digital-en-barcelona/",
    },
    {
        date: "Actualmente...",
        title: "Profesor de Programación",
        company: "Coderhouse",
        description:
        "Soy profesor de desarrollo Fullstack en Coderhouse, donde llevo a mis estudiantes en un viaje intensivo por el mundo del stack MERN (MongoDB, Express, React, Node.js). Mi misión es hacer que dominen cada herramienta, desde crear la API más robusta hasta desplegar una app completa. Con un enfoque práctico y un toque de humor, transformo conceptos complejos en aprendizaje accesible, preparando a los futuros cracks de la programación para el mundo real.",
    },
    {
        date: "Octubre 2021",
        title: "Fullstack Developer",
        company: "Gobierno de Tierra del Fuego",
        description:
        "Trabajé como Fullstack Developer para el Gobierno de Tierra del Fuego, donde me encargaba de mantener plataformas desarrolladas en Symfony y de diseñar nuevas soluciones tecnológicas para optimizar las tareas diarias de todas las áreas gubernamentales. Mi rol consistía en asegurar la estabilidad y funcionalidad de sistemas críticos, así como en implementar mejoras para facilitar el trabajo de las diferentes dependencias públicas."
    }
]
---

<ol class="relative mt-16">
  {
    EXPERIENCE.map((experience) => (
      <li class="">
        <ExperienceItem {...experience} />
      </li>
    ))
  }
</ol>
